.container {
    padding: 1rem;
    background-color: #00b982;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex: 10;
}

.brandText {
    font-size: 1.9em;
    color: rgb(244, 233, 233);
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.312);
}

.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgb(244, 233, 233);
    flex: 6;
    border: .125rem solid transparent;
    transition: border .3s;
}

.searchBar:focus-within {
    border: .125rem solid rgb(104, 104, 104);
}

.searchBarInput {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1em;
    flex: 1;
}


.user {
    flex: 10;
    display: flex;
    justify-content: flex-end;
}

.userTrigger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); 
    cursor: pointer;
    transition: opacity .3s;
}

.userTrigger:hover {
    opacity: .8;
}

.dropdownMenu {
    position: absolute;
    top: 4.125rem;
    background-color: rgb(244, 240, 240);
    border-radius: .2rem;
    opacity: 0;
    width: 200px;
}

.dropdownMenu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 1.25rem;
    width: 1.25rem;
    background: rgb(244, 240, 240);
    transform: rotate(45deg);
  }

.dropdownMenu.active {
    opacity: 1;
    visibility: visible;
    transition: .3s ease;
    transform: translateY(0);
}

.dropdownMenu.inactive {
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    transform: translateY(-20px);
}

.dropdownItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .7rem 0;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    transition: opacity .3s, background .3s, color .3s, fill .3s;
    cursor: pointer;
    border-top: .0625rem solid rgba(0, 0, 0, 0.312);
}

.dropdownItem:hover {
    opacity: .8;
    background-color: #00b982;
    color: #fff;
    fill: #fff;
}

.username {
    color: rgb(244, 233, 233);
    font-size: 1.3em;
}