.container {
    padding: 1rem 10rem;
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0 0 .625rem #00000055;
    width: calc(100% - 20rem);
}

.brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex: 10;
    text-decoration: none;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    flex: 6;
    border: .125rem solid #00b982;
    fill: #03b881;
}

.svg {
    fill: #03b881
}

.searchBarInput {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1em;
    flex: 1;
}

.dropdownSearch {
    position: absolute;
    top: 4.425rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.377);
    border-radius: .625rem;
    opacity: 0;
}

.dropdownSearch::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 20px;
    width: 1.25rem;
    height: 1.25rem;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
}

.dropdownSearch.active {
    opacity: 1;
    visibility: visible;
    transition: .3s ease;
    transform: translateY(0);
}

.dropdownSearch.inactive {
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    transform: translateY(-20px);
}

.dropdownSearchItem {
    display: flex;
    align-self: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: .3rem;
    text-decoration: none;
    color: #000;
}

.dropdownSearchItem:hover {
    background-color: rgb(233, 233, 233);
}

.dropdownSearchItemText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .4rem;
}

.dropdownSearchItemTextName {
    font-weight: 600;
    font-size: 1.1em;
}

.dropdownSearchItemImage {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.user {
    flex: 10;
    display: flex;
    justify-content: flex-end;
}

.userTrigger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); 
    cursor: pointer;
    transition: opacity .3s;
}

.userTrigger:hover {
    opacity: .8;
}

.userImage {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    box-shadow: 0 0 .625rem #00000055;
}

.dropdownMenu {
    position: absolute;
    top: 4.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.377);
    border-radius: .5rem;
    opacity: 0;
    width: 12.5rem;
}

.dropdownMenu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 10px;
    height: 1.25rem;
    width: 1.25rem;
    background-color: rgb(255, 255, 255);    
    transform: rotate(45deg);
}

.dropdownMenu.active {
    opacity: 1;
    visibility: visible;
    transition: .3s ease;
    transform: translateY(0);
}

.dropdownMenu.inactive {
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    transform: translateY(-20px);
}

.dropdownItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .75rem;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    transition: opacity .3s, background .3s, color .3s, fill .3s;
    cursor: pointer;
    border-top: .0625rem solid rgba(0, 0, 0, 0.312);
}

.dropdownItem:first-child {
    border: none;
}

.dropdownItem:last-child {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.dropdownItem:hover {
    opacity: .8;
    background-color: #00b982;
    color: #fff;
    fill: #fff;
}

.username {
    color: rgb(244, 233, 233);
    font-size: 1.3em;
}