.container {
    width: 100%;
    height: 100%;
}

.menuContainer {
    display: flex;
    height: calc(100% - 6.51rem);
}

.menuCalendars {
    flex: 1;
    display: flex;
    border-right: 1px solid #cacaca;
    flex-direction: column;
    overflow: auto;
}

.menuCalendarsSelected {
    flex: 3;
    display: flex;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.calendar {
    display: flex;
    padding: .75rem;
    text-decoration: none;
    color: #282A36;
    align-items: center;
    gap: 1rem;
    font-size: 1em;   
    transition: background-color .3s;
    outline: none;
    border: none;
    cursor: pointer;
}

.calendar:hover {
    background-color: #e7e7e7;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 300px;
    gap: .5rem;
}

.input {
    width: 100%;
    resize: none;
    padding: .5rem;
    font-size: 1.1em;
    border-radius: .5rem;
    border: none;
    border: 1px solid #00cc8f;
    outline: none
}
