.container {
    flex: 1;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px #0000003c;
}

.brand {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
}

.brandText {
    font-size: 1.5em;
    color: #282A36;
}

.bottom {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .25rem;
}

.title {
    text-align: center;
    font-size: .8em;
}

.text {
    text-align: center;
    font-size: .75em;
}