.navItem {
    display: flex;
    padding: .75rem;
    text-decoration: none;
    color: #282A36;
    align-items: center;
    gap: 1rem;
    font-size: 1em;   
    transition: background-color .3s;
    outline: none;
}

.navItem:hover {
    background-color: #e7e7e7;
}