.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.containerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex: 1;
}

.title {
    font-size: 5em;
    text-align: center;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.text {
    max-width: 30%;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.4;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.titleColor {
    color: #00CC8F;
}

.textColor {
    color: #00CC8F; 
    font-weight: 700;
}

.containerSuggest {
    width: calc(100% - 4rem);
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

.suggestItem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    border-radius: 1rem;
    text-decoration: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.suggestItemTitle {
    font-size: 2.5em;
    color: #00CC8F;
    font-weight: 700;
}

.secondContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerImage {
    width: 20%;
    object-fit: cover;
}

.secondTitle {
    font-size: 3em;
    max-width: 50%;
    text-align: center;
}

.secondText {
    font-size: 1.875em;
    max-width: 65%;
    text-align: center;
}

.rightSecondContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    
}

.button {
    padding: 1rem 3rem;
    border: none;
    outline: none;
    border-radius: 10rem;
    background-color: #00CC8F;
    color: #F0F0F0;
    font-size: 1.3em;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    transition: background .3s;
    cursor: pointer;
}

.button:hover {
    background-color: #02b17c;
}

.socialContainer {
    width: calc(100% - 4rem);
    background-color: #00CC8F;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.socialContainer > span {
    font-size: 4em;
    font-style: italic;
    font-weight: 500;
    color: #F0F0F0
}

.socialContainerIcons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.icon {
    align-self: center;
    fill: #F0F0F0;
}