.container {
    margin-inline: 15rem;
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.separator {
    border: 1px solid #000;
}

.welcomeText {
    font-size: 2em;
}

.whoAreWeQuestionText {
    font-size: 1.7em;
}

.whoAreWeAnswerText {
    font-size: 1.3em;
    max-width: 75ch;
}

.dataContainer {
    display: flex;
    gap: 2rem;
}